{% extends 'tom_common/base_home.html' %}
{% load static targets_extras observation_extras dataproduct_extras tom_common_extras %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="text-align:center">
        <p class="text-center"><img src="static/tom_common/img/GEMTOM Logo Trans.png" class="img-fluid mx-auto"></p>
        <br>
        <!-- <h2 class="text-center">GEMTOM - A BlackGEM TOM</h2> -->



    </div>
    <div class="col-md-2"></div>
</div>

<div style="text-align:center">
    <p>GEMTOM is a TOM (Target and Observation Manager) for BlackGEM. See below for the latest in exciting new BlackGEM targets!</p>
</div>

<!-- <hr style="margin-left:-100px; margin-right:-100px"> -->
<div class="row" style="
    border-bottom:  thin solid #dddddd;
">

    <div
        class="col-md-4"
        style="text-align:center;
            padding-top:    1.5em;
            padding-bottom: 1.5em;
            border-top:     thin solid #dddddd;
    ">
        <div style="margin-top: 1.3em; margin-bottom: 1.3em;">
            <a href="history"  class="btn btn-outline-primary" role="button" style="font-size:1.2em">Night Archive</a>
        </div>
    </div>

    <div
        class="col-md-4"
        style="text-align:center;
            padding-top:    1.5em;
            padding-bottom: 1.5em;
            border-top:     thin solid #dddddd;
    ">
        <div style="margin-bottom: 0.3em">
            <a href="transients" class="btn btn-outline-primary" role="button" style="font-size:1.2em">Search for a Transient</a>
        </div>
        <form method="get" action="{% url 'search_BGEM_ID' %}">
            <input id="bgem_id" type="text" name="user_input" placeholder="BlackGEM ID" required>
            <button type="submit" class="btn btn-light" style=>Search</button>
        </form>
    </div>

    <div
        class="col-md-4"
        style="text-align:center;
            padding-top:     1.5em;
            padding-bottom:  1.5em;
            border-top:     thin solid #dddddd;
    ">
        <div style="margin-top: 1.3em; margin-bottom: 1.3em;">
            <a href="live_feed" class="btn btn-outline-danger" role="button" style="font-size:1.2em">● Live Feed</a>
        </div>
    </div>
</div>

<!-- <hr style="margin-left:-100px; margin-right:-100px"> -->
<!-- <hr> -->

    <!-- <p></p> -->

    <!-- <h3>Next steps</h3> -->
    <!-- <ul>
      <li>
        Check out the <a href="https://tom-toolkit.readthedocs.io/en/stable/" title="TOM Toolkit home page" target="_blank">TOM
        Toolkit homepage</a> for the latest news, downloads and documentation.
      </li>
      <li>
        <a href="{% url 'targets:create' %}" title="Create Target">Add your first target</a>.
      </li>
      <li>
        Customize this page by editing the
        <code>templates/tom_common/index.html</code> file or by editing your
        project's <code>urls.py</code>.
      </li>
      <li>
        Take a look at some <a href="https://tom-toolkit.readthedocs.io/en/stable/customization/index.html" target="_blank">common first customizations</a>.
      </li>
    </ul> -->

<div class="row row-no-gutters" style="
">

  <div class="col-md-4" style="
    padding: 0.2em;
    padding-top: 1em;
  ">
    <div class="card">
      <div class="card-header">
        Latest Targets
      </div>
      {% recent_targets %}
    </div>
  </div>

  <div class="col-md-4" style="
    padding: 0.2em;
    padding-top: 1em;
  ">
      <div class="card">
        <div class="card-header">
          Recently Modified Targets
        </div>
        {% recently_updated_targets %}
    </div>
  </div>

    <div class="col-md-4" style="
      padding: 0.2em;
      padding-top: 1em;
    ">
      <div class="card">
        <div class="card-header">
          Latest Comments
        </div>
        {% recent_comments %}
      </div>
    </div>

</div>

<!-- <hr>
<h3>Other Resources</h3>
<ul>
  <li>The official <a href="https://www.djangoproject.com/" target="_blank">Django documentation</a>.</li>
  <li>The official <a href="http://www.astropy.org/" target="_blank">Astropy documentation</a>.</li>
</ul> -->
<!-- <hr style="margin-left:-100px; margin-right:-100px"> -->
<hr>

<div style="text-align:center">
Have you used GEMTOM in your research? If so, please add the following (or words to this effect) in the acknowledgements:
<br>
<br>
<em>This work made use of GEMTOM, the Target and Observation Manager for the BlackGEM telescope.</em></div>

<hr>

<div>
<p><em><a target="_blank" href="https://github.com/TOMToolkit/tom_base">TOM Toolkit</a> version {{ version }}</em></p>
</div>
{% endblock %}


<hr>

<form class="navbar-form navbar-right" role="form" method="post" action="{% url 'myapp:article_add' %}" enctype="multipart/form-data">
{% csrf_token %}
    <div class="form-group">
        <div class="col-sm-10">
        <input id="article_url" name="web_url" type="text">
        </div>
   </div>
   <button type="submit" class="btn btn-default"> + </button>
</form>
