{% load bootstrap4 targets_extras %}

<script>
    function myFunction() {
      // Get the text field
      var copyText = document.getElementById("myInput");

      // Select the text field
      copyText.select();
      copyText.setSelectionRange(0, 99999); // For mobile devices

       // Copy the text inside the text field
      navigator.clipboard.writeText(copyText.value);
    }
</script>

<!-- <br> -->
<div style="margin-top: 0.8em">
    <h4><a class="btn btn-outline-primary btn-lg" href=https://astro.ing.iac.es/staralt/ target="_blank">STARALT</a></h4>
    <div>
        {% csrf_token %}
        <!-- Click <a href=https://astro.ing.iac.es/staralt/ target="_blank">here</a> to go to STARALT to calculate visibility for this target.<br> -->
        Enter the following into the coordinates box:
        <!-- {{ target_name }}
        {{ staralt_ra }}
        {{ staralt_dec }} -->

          <!-- The text field -->
        <input type="text" value="{{ target_name }} {{ staralt_ra }} {{ staralt_dec }}" id="myInput">

        <!-- The button used to copy the text -->
        <button onclick="myFunction()" class="btn btn-light btn-sm">Copy text</button>
    </div>
</div>
