{% extends 'tom_common/base.html' %}
{% block content %}
<!-- --------------------------- -->

<head>
<meta charset="utf-8" />   <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/styles/ag-theme-balham.css">
</head>

<div align="center">


<style>
    .dash-container {
        width: 100%;
        height: 420px;
        justify-content: center;
        align-items: center;
    }
</style>


<!-- {{ dataframe }} -->

<!-- <h5>Lightcurves</h5> -->

{% load plotly_dash %}
<div class="dash-container">
    {% plotly_app name="Live_Observation_All" ratio=1 %}
</div>
<br>

<div class="row">
    <div class="col-md-6" style="border-right:thin solid #dddddd;">
        <h4>BlackGEM ID {{ bgem_id }}</h4>
    </div>
    <div class="col-md-6">
        <h4>Is BlackGEM Observing? <b>Unknown</b><br></h4>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>

<h5>{{ iau_name }}<br></h5>
<h6>RA: {{ ra }}, Dec: {{ dec }}<br></h6>

<a href="#" onclick='window.open("https://staging.apps.blackgem.org/transients/blackview/show_runcat?runcatid={{bgem_id}}");return false;'><em>BlackView</em> webpage for this source</a>
<br>&nbsp;
<form method="post" action="{% url 'status_to_GEMTOM' %}" class="image-form">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ bgem_id }}">
    <input type="hidden" name="name" value="{{ iau_name }}">
    <input type="hidden" name="ra" value="{{ ra }}">
    <input type="hidden" name="dec" value="{{ dec }}">
    <button type="submit" class="btn btn-primary">Add to GEMTOM</button>
</form>
<hr>

<!-- Possible Columns:
<br>
|
{% for column in columns %}
    {{ column }} |
{% endfor %} -->

<h5>Location on Sky</h5>
<!-- Render the Plotly graph -->
{{ location_on_sky|safe }}


<hr>


<!-- --------------------------- -->
{% endblock %}
