{% extends 'tom_common/base.html' %}
{% block title %}Authentication{% endblock %}
{% block content %}
<div style="text-align:center">
    <hr>
    <h5>Welkom!<br></h5>
    <hr>

    Thank you for registering!<br><br>

    Your account will need to be manually validated before you can login.<br><br>

    <b>Please send an email to:</b><br>

    <h4>johnapaice@gmail.com</h4><br>

    in order to have your account authenticated, and be granted permissions to use GEMTOM.<br><br>

    Happy Sciencing!
</div>
{% endblock %}
