{% extends 'tom_common/base.html' %}
{% block content %}

<p class="text-center"><img src="../static/blackGEM/img/blackGEM_photo.jpeg" class="img-fluid mx-auto"></p>

<h2>What is BlackGEM?</h2>

<p>
BlackGEM (Black hole Gravitational wave ElectroMagnetic counterpart array) is an array
of three telescopes at La Silla, Chile.
<br/>
<br/>
Each telescope is 65cm in diameter and is equipped with a 10,000 x 10,000 pixel CCD,
with each pixel being 9 microns across. The focal length is f/5.5, and the angular
resolution is limited only be the seeing (~1 arcsecond).
<br/>
<br/>
BlackGEM will be invaluable to gravitational wave follow-up, imaging a two-square-degree
field of view when completed down to roughly 20th magnitude. This also means that it
is a great help to many fields of transient astronomy, from Low-Mass X-ray Binaries,
to Ultra-Luminous X-ray sources, to Cataclysmic Variables, to any other field that
requires nightly observations of new transient sources.
<br/>

<br>
<hr>
<br>

<div style="text-align:center">
Have you used GEMTOM in your research? If so, please add the following (or words to this effect) in the acknowledgements:
<br>
<br>
<em>This work made use of GEMTOM, the Target and Observation Manager for the BlackGEM telescope.</em></div>


</p>



<!-- <ul>
  {% for target in targets %}
  <li>{{ target.name }}</li>
  {% endfor %}
</ul> -->
{% endblock %}≈
