{% extends 'tom_common/base.html' %}
{% block content %}

<h2>Coming Soon</h2>

A list of the main features that have been requested and I intend to work on.
<b>Feel free to give input or send me ideas!</b>
<br>
<br>
<ul>

        <h5>Cutouts</h5>
        <ul>
        <li>Reference/difference images for each detection.</li>
    </ul>

    <br>

        <h5>'History' Page</h5>
        <ul>
            <li>Expand the status page to include objects of other types, not just Extragalactic.<br>
            Note: <b>This is where you come in!</b> If you have any codes that can comb the recent
            transients for any signals, pass them my way, and I can feature the results on GEMTOM.</li>
            <li>Note which targets are Gravitational Wave triggers.</li>
            <li>Next/Prev night buttons on Night view.</li>
            <li>Longer date list. Maybe in a separate page?</li>
            <li>Put the HR diagram on the main History page</li>
            <li>Modify the GCNS file; only contain every Nth target.</li>
            <li>Modify the GCNS to perhaps be smaller, or maybe even just be a static image on the back of the HR diagram.</li>
            <li>Maybe have the HR diagram show a list of historical BlackGEM transients too...?</li>
            <li>Perhaps have tabs on each page - that night's galactic/extra-galactic sources, for instance.</li>
            <li>Add a way to distinguish old/new targets on the HR diagram</li>
            <li>Plot, somewhere, a large sample of BlackGEM Gaia targets</li>
            <li>Have the code plot all possible CVs every single night</li>
            <li>Correct the all-sky plot that's displayed when there's no data</li>
        </ul>
    <br>

    <!-- <li>
        <h5></h5>

    </li>
    <br> -->

        <h5>Miscellaneous Features and Bugfixes:</h5>
        <ul>
            <li>Transients: Interpret HMS as well as Deg.</li>
            <li>Transients: Add a link to a transient's Vizier/SIMBAD search</li>
            <li>Transients: Lookup and add a link to a transient's Portal entry</li>
            <li>Transients: Add a link to download a lightcurve</li>
            <li>Transients: Reduce the TNS arcsecond distance</li>
            <li>History: Fix the error that occurs if there are no Gaia crossmatches.</li>
            <li>History: Note when there is no connection to BlackHub (instead of just reporting no fields observed)</li>
            <li>Live Feed: Display the schedule, and also have the it look up which target it’s currently looking at</li>
            <li>Live Feed: Link to the Treasure Map</li>
            <li>Targets: Automatically delete the previous instance of BlackGEM data when updating.</li>
            <li>Targets: Get the flux values for the lightcurves.</li>
            <li>Targets: Link to TNS, if available.</li>
            <li>Link to the Daily Scanning page (34.90.13.7)</li>
            <li>Add a 'Watchlist' functionality that emails users when their targets come up.</li>
            <li>Get Hugo’s code on our servers</li>
            <li>Add Daniella’s Code for the Treasure Map</li>
            <!-- <li></li>
            <li></li>
            <li></li> -->
        </ul>
        <br>

        <h5>Meta</h5>
        <ul>
        <li>Solve the 'favicon not found' errors on the terminal</li>
        <li>Fix Requirements file.</li>
        <!-- <li><em>Currently Empty</em></li> -->
        </ul>
</ul>

<hr>
<hr>
<br>
<h3>Version Changelogs</h3>
<br>
<div style="color:lightgrey">---------------------------------------</div>
<h4>GEMTOM v0.1.1 Changelog</h4>
<br>
<ul>
    <h5>New Features</h5>
    <ul>
        <h6>Nightly HR Diagram</h6>
            <ul>
            <li>Added an HR Diagram to each night's History page, with all the sources in the previous night's gaia-crossmatched catalogue.</li>
            <li>These sources have a cutoff based on their Real/Bogus score and their Parallax/Error ratio.</li>
            <li>You can also adjust a slider to manually filter by magnitude difference.</li>
            <li>Clicking a point in the HR Diagram redirects to that Transient's GEMTOM page.</li>
            <li>You can now download potential CVs for each night too!</li>
            </ul>
    </ul>
    <br>
    <h5>Bugfixes</h5>
    <ul>
        <li>Targets: Solved an issue where new targets were not being assigned into the 'Public' group, and thus could not be viewed.</li>
        <li>Targets: Solved a bug where uploading a target without a BlackGEM ID would sometimes cause an error when the target was viewed.</li>
        <li>History: Added the number of flags each night to the main History page.</li>
        <li>Presentation: Fixed the margins on the Home page to work on Mobile.</li>
        <li>Presentation: Fixed the margins and plots on the Live Feed page to work on Mobile</li>
        <li>Presentation: Fixed the formatting of the plot, table, and 'Query BlackGEM' button on the History page on Mobile</li>
        <li>Presentation: Fixed the formatting of the plot and the flags on the History index page on Mobile</li>
    </ul>
</ul>
<br>
<div style="color:lightgrey">---------------------------------------</div>
<h4>GEMTOM v0.1.0 Changelog</h4>
<br>
<ul>
    <h5>New Features</h5>
    <ul>
        <li>Meta: GEMTOM is now on a server!</li>
        <li>Meta: ...And that server can now access BlackHUB!</li>
        <li>Meta: Found a way to keep GEMTOM alive indefinitely.</li>
        <li>Meta: Set up a way to report issues with GEMTOM (GitHub)</li>
        <li>Meta: Set up the Bug-finding Leaderboard</li>
        <li>Meta: Linked to the BG TOM dev chat in the general GEMTOM chat</li>
        <li>Meta: Announced that GEMTOM is live and distributed the Guest credentials</li>
        <li>Lightcurves: Combined the BlackGEM plot on the target page with all other BlackGEM plots.</li>
        <li>Lightcurves: Added a vertical line to all lightcurves denoting when 'Now' is.</li>
        <li>Lightcurves: Removed limits for observations with a detection.</li>
        <li>Lightcurves: Made the limits more visible</li>
        <li>Targets: Linked to SIMBAD on target pages.</li>
        <li>Live Feed: Now shows the sun altitude in degrees</li>
        <li>Live Feed: Now states whether BlackGEM is observing on the individual transient page.</li>
        <li>Live Feed: Linked to the BlackGEM Webcams</li>
        <li>Live Feed: Added a sky cutout to the page of each transient.</li>
        <li>Presentation: Updated the logo.</li>
        <li>ToOs: Created a page featuring ToOs associated with this project.</li>
        <li>ToOs: Added a timeline.</li>
    </ul>
    <br>
    <h5>Bugfixes</h5>
    <ul>
        <li>Meta: Sorted out data; git will now no longer push all data to the repository.</li>
        <li>Meta: Decoupled the dev and production servers with regard to Users and Target data.</li>
        <li>History: Loading the page now automatically updates the latest row of the history.</li>
        <li>Live Feed: Changed the ‘BlackGEM is observing!/probably not observing’ message to also be updated with each tick.</li>
    </ul>
</ul>

<!-- <li></li> -->





<!-- <ul>
  {% for target in targets %}
  <li>{{ target.name }}</li>
  {% endfor %}
</ul> -->
{% endblock %}
