{% extends 'tom_common/base.html' %}
{% block title %}Discoveries{% endblock %}
{% block content %}
<!-- {%load plotly_dash%} -->
<head>
<meta charset="utf-8" />   <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/styles/ag-theme-balham.css">
</head>
{% load plotly_dash %}

<div align="center">

<p>
Here you can find a list of BlackGEM's discoveries that have been reported to TNS.
<br>
<br>
<!-- BlackGEM has discovered {{ number_of_discoveries }} objects in TNS, and has contributed data to {{ number_of_contributions }} others! -->


  <div class="row">
    <div class="col-md-3" style="border:thin solid lightgrey; padding:10px; margin:10px;">
      BlackGEM TNS Contributions:
      <h1 style="color:orange;">{{ number_of_contributions }}</h1>
    </div>
    <div class="col-md-1" style="margin:-20px;"></div>
    <div class="col-md-4" style="border:thin solid lightgrey; padding:10px; margin:10px;">
      BlackGEM TNS Discoveries:
      <h1 style="color:teal;">{{ number_of_discoveries }}</h1>
    </div>
    <div class="col-md-1" style="margin:-20px;"></div>
    <div class="col-md-3" style="border:thin solid lightgrey; padding:10px; margin:10px;">
      Confirmed BlackGEM Supernovae:
      <h1 style="color:darkred;">{{ number_of_supernovae }}</h1>
    </div>
  </div>
</div>
<br>

{{ cumulative_graph|safe }}

<hr>

<div class="dash-container">
    {% plotly_app name="discoveries_table" ratio=0.5 %}
</div>

{% endblock %}
