{% extends 'tom_common/base.html' %}
{% block content %}
<!-- {%load plotly_dash%} -->
<!-- <p>
This is GEMTOM, a TOM for the BlackGEM system.
Currently there's not much here! But please, enjoy a list of targets
we've inputted into the system, because a tutorial told me to.
</p>
<hr>
<p>
<strong>Testing ground:</strong>
</p> -->

<form method="post" action="{% url 'send_email_test' %}" class="image-form">
    {% csrf_token %}
    <button type="submit" style="margin-top:0px" class="btn btn-outline-danger" title="Send Email" onclick="return confirm('Sending Email; Are you sure?')">Send Email</button>
</form>

{% endblock %}
