{% extends 'tom_common/base.html' %}
{% block title %}History{% endblock %}
{% block content %}


<!-- --------------------------- -->
<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
        .table_container {
          height: 600px;
          min-height: 100px;
          overflow: auto;
          resize: vertical; /* only for demo */
        }

        thead,
        tfoot {
          /* must background-color otherwise transparent will show rows underneath */
          background-color: white;
          position: sticky;
        }

        thead {
          margin-bottom: 0;
          top: 0;
        }

        tfoot {
          margin-top: 0;
          bottom: 0;
        }

        th {
          width: 100px;
          text-align: center;
          padding: 5px;
        }

        td {
          white-space: nowrap;
          text-align: center;
          padding: 5px;
        }

        table {
          width: 100%;
        }
    </style>
<meta charset="utf-8" />   <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>


<!-- <p>
On this page, you can find the history of blackgem's observations.
</p>
<hr> -->
<p>
<!-- <strong>History ground:</strong> -->
</p>

<div style="text-align:center">

<h4>Did BlackGEM observe last night?<br></h4>
<h3>{{ history_daily_text_1 }} </h3>
<p>{{ history_daily_text_2 }}<br>
{{ history_daily_text_3 }}</p>


{% if blackhub %}
    <div class="imgbox">
        <!-- <img class="center-fit" src="data:image/png;base64,{{ plot_image }}" alt="Last Night's Sky Plot"> -->
        <img class="center-fit" src="{{ plot_image }}" alt="Last Night's Sky Plot">
    </div>

    <br>
    BlackGEM observed {{ num_fields }} fields:<br>
    <em>
    <font style="color:green;">{{ green_fields }} Green</font>&nbsp&nbsp&nbsp
    <font style="color:#bfac00;">{{ yellow_fields }} Yellow</font>&nbsp&nbsp&nbsp
    <font style="color:orange;">{{ orange_fields }} Orange</font>&nbsp&nbsp&nbsp
    <font style="color:red;">{{ red_fields }} Red</font></em>

{% else %}
   <font style="color:lightcoral;"><em> Connection to BlackHub is down.<br>
    Please check the tunnel and the status of BlackHub!</em></font>
{% endif %}


<hr>

<h5>Did BlackGEM observe on a certain night?</h5>

<form method="get" action="{% url 'handle_input' %}">
    <input type="text" name="user_input" placeholder="Input Date (YYYYMMDD)" required>
    <button type="submit" class="btn btn-primary" style="margin-top:7px; margin-bottom:10px;">Query BlackGEM</button>
</form>

<em>Try 20240729</em>

<br>
<hr>
<br>


<h5>BlackGEM History (Past 10 days):</h5>

<div class="table_container" style="text-align:center;">
    <table class="table">
        <thead>
            <tr>
                <th width="100px">Date</th>
                <th>MJD</th>
                <th>Observed</th>
                <th>Transients</th>
                <th>Gaia Crossmatches</th>
                <th>Extragalactic Transients</th>
            </tr>
        </thead>
        <tbody>
            {% if history %}
                {% for date, extended_date, MJD, Observed, Number_Of_Transients, Number_of_Gaia_Crossmatches, Number_Of_Extragalactic in history %}
                    {% if Observed == "Yes" %}
                        <tr style="color: black;">
                    {% else %}
                        <tr style="color: #D5D5D5;">
                    {% endif %}
                        <td><a href="{{ date }}">{{ extended_date }}</a> </td>
                        <td>{{ MJD }}</td>
                        <td>{{ Observed }}</td>
                        <td>{{ Number_Of_Transients }}</td>
                        <td>{{ Number_of_Gaia_Crossmatches }}</td>
                        <td>{{ Number_Of_Extragalactic }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>


<em>In case of out-of-date data:&nbsp;</em> <button id="executeButton">Update History</button>

<script>
    document.getElementById('executeButton').addEventListener('click', function() {
        // Perform an HTTP GET request to the view that executes the function
        fetch('/update_history/')
            .then(response => {
                // Once the request is complete, refresh the page
                window.location.reload();
            })
            .catch(error => console.error('Error:', error));
    });
</script>

<!-- <br> -->
<br>
<hr>
<hr>
<!-- <br> -->

<h5>Last Night's Files:</h5>

{% if transients_filename %}
    <a href= {{ transients_filename }}>Transients File</a> <br>
{% else %}
    <em>No Transients file to download</em> <br>
{% endif %}

{% if gaia_filename %}
    <a href= {{ gaia_filename }}>Gaia Crossmatched File</a> <br>
{% else %}
    <em>No Gaia Crossmatched file to download</em> <br>
{% endif %}

{% if extragalactic_filename %}
    <a href= {{ extragalactic_filename }}>Extragalactic Transients File</a> <br>
{% else %}
    <em>No Extragalactic file to download</em>
{% endif %}

<br>
<hr>



<h5>Last Night's Extragalactic Transients:</h5>

 <!-- /* Crop images... */ -->
 <!-- /* Create containers for the small images, then the lightcurves. */ -->
<style>
    .image-container {
        width: 200px; /* Desired width */
        height: 200px; /* Desired height */
        overflow: hidden;
    }
    .image-container img {
        width: 105%;
        height: 107%;
        object-fit: cover; /* Ensures the image covers the container */
        object-position: center; /* Centers the image */
    }
    .image-row {
        display: flex;
        flex-wrap: wrap; /* Allows wrapping to the next line if there are too many images for one row */
        justify-content: center; /* Center the flex items horizontally */
    }
    .imgbox2 {
        <!-- position: relative; -->
         position: absolute;
         display: grid;
         top: 0;
         width: 100%;
         height: 100%;
         object-position: 100%;
    }
</style>



<!-- <p>{{ images_daily_text_1 }}</p> -->
{% if extragalactic_sources_id %}
    {% for image_url, bgem_id, source_ra, source_dec, pipeline, check in images_daily_text_1 %}
        <h6> BlackGEM ID = {{ bgem_id }}</h6>
        <div class="image-row">
            {% for url in image_url %}
                {% if url %}
                    {% if old_images %}
                        <div class="image-container">
                            <img src="{{ url }}" alt="url"></img>
                        </div>
                    {% else %}
                        <img class="imgbox2" src="{{ url }}" alt="url">
                    {% endif %}

                {% endif %}
            {% endfor %}
        </div>
        RA = {{source_ra}}  ;  Dec = {{source_dec}}  ;  Pipeline = {{pipeline}}<br>
        <em><a href='/transients/{{ bgem_id }}'>GEMTOM page for this transient</a></em><br>
        <div style="height:3px;font-size:1px;">&nbsp;</div>
        {% if check %}
            <div class="row">
              <div class="col-md-4" style="
                padding:5px;
                border-right:thin solid #dddddd;
                text-align:center;
                vertical-align: middle;">
                    <a class="btn btn-outline-primary" href="https://staging.apps.blackgem.org/transients/blackview/show_runcat?runcatid={{bgem_id}}" target="_blank">BlackView</a>
              </div>
              <div class="col-md-4" style="
                padding:5px;
                border-right:thin solid #dddddd;
                text-align:center;
                vertical-align: middle;">
                <form method="post" action="{% url 'history_to_GEMTOM' %}" class="image-form">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ bgem_id }}">
                    <input type="hidden" name="name" value="{{ bgem_id }}">
                    <input type="hidden" name="ra" value="{{ source_ra }}">
                    <input type="hidden" name="dec" value="{{ source_dec }}">
                    <button type="submit" class="btn btn-primary">Add to GEMTOM</button>
                </form>
              </div>
              <div class="col-md-4" style="
                padding:5px;
                text-align:center;
                vertical-align: middle;">
                    <a class="btn btn-outline-primary" href="https://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{ source_ra }}d{{ source_dec }}d&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&CooDefinedFrames=none&Radius=1&Radius.unit=arcmin&submit=submit+query&CoordList=" target="_blank">SIMBAD</a>
                    <!-- <a href="#" onclick='window.open("https://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{ target_ra }}d{{ target_dec }}d&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&CooDefinedFrames=none&Radius=2&Radius.unit=arcmin&submit=submit+query&CoordList=");return false;'>SIMBAD page</a> -->
              </div>
            </div>
        {% endif %}
        <hr>
    {% endfor %}
{% else %}
    <p> No images to display.</p>
    <br>
    <hr>
{% endif %}






<!-- <br> -->
<!-- <hr> -->
<hr>
<!-- <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br> -->

<!-- <h1>Testing Ground</h1>
<h2>NOTE: Everything below here is just for testing purposes. Assume all information is incorrect!</h2>

<hr>
<hr> -->

<!-- <p>Did BlackGEM observe last night?<br></p>
<!-- <p>{{ result }}</p> -->
<!-- <p>{{ history_daily_text_1 }}</p> -->
<!-- <p>{{ history_daily_text_2 }}</p> -->
<!-- <p>{{ history_daily_text_3 }}</p> -->
<!-- <p>{{ history_daily_text_4 }}</p> -->
<!-- <p>{{ other_data }}</p> -->


<!-- <hr>
<hr>

<h2>BlackGEM History:</h2>

<div id='if-part1' style='visibility: hidden;'>BlackGEM Observed last night!</div>
<div id='else-part1' style='visibility: hidden'>BlackGEM did not observe last night.</div>

<script>
    var node;
    if(true) {
        node = document.getElementById('if-part1');
    }
    else {
        node = document.getElementById('else-part1');
    }
    node.style.visibility = 'visible';
</script>

<hr>
<hr>

<hr>
<hr>

<h2>BlackGEM History 2:</h2>

<div id='if-part2' style='visibility: hidden;'>BlackGEM Observed last night!</div>
<div id='else-part2' style='visibility: hidden'>BlackGEM did not observe last night.</div>
<div id='checker' style='visibility: hidden'>Code is running!</div>

<script>
    var node2;
    node2 = document.getElementById('checker');
    node2.style.visibility = 'visible';

    var node;
    var http = new XMLHttpRequest();
    http.open('HEAD', 'http://xmm-ssc.irap.omp.eu/claxson/BG_images/20240424/', false);
    http.send();
    if (http.status != 404)
        node = document.getElementById('if-part2');
    }
    else {
        node = document.getElementById('else-part2');
    }
    node.style.visibility = 'visible';
</script>

<hr>
<hr> -->

<!-- <div id="CSVTable"></div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/jquerycsvtotable/jquery.csvToTable.js"></script>

<script>
$(function() {
  $('#CSVTable').CSVToTable('../data/BlackGEM_History.csv');
});
</script> -->

<!-- {% if dates %}
    {% for date in dates %}
        <h6>{{ date }}</h6>
    {% endfor %}
{% endif %} -->

<!-- <script>


  // JavaScript code for inserting data into the table
  // var data = $.csv.toObjects(csv):
  // var data = $('#CSVTable').CSVToTable('../data/BlackGEM_History.csv')
  var data = [
    { date: "2024-04-25", mjd: 60425, observed: "Yes", sources: "148", gaia: "59",   images: "3"  },
    { date: "2024-04-24", mjd: 60424, observed: "Yes", sources: "373", gaia: "3369", images: "21" },
  ];
  // var data = $.csv.toObjects('../data/BlackGEM_History.csv'):
  // // document.write(data)
  //
  var tableBody = document.getElementById("tableBody");

  data.forEach(function(item) {
    var row = document.createElement("tr");

    var dateCell = document.createElement("td");
    dateCell.textContent = item.date;
    row.appendChild(dateCell);

    var mjdCell = document.createElement("td");
    mjdCell.textContent = item.mjd;
    row.appendChild(mjdCell);

    var observedCell = document.createElement("td");
    observedCell.textContent = item.observed;
    row.appendChild(observedCell);

    var sourcesCell = document.createElement("td");
    sourcesCell.textContent = item.sources;
    row.appendChild(sourcesCell);

    var gaiaCell = document.createElement("td");
    gaiaCell.textContent = item.gaia;
    row.appendChild(gaiaCell);

    var imagesCell = document.createElement("td");
    imagesCell.textContent = item.images;
    row.appendChild(imagesCell);

    tableBody.appendChild(row);
  });
</script>

<br>
<hr>
<hr>
<hr>
<br>

<head>
<meta charset="utf-8">
<title></title>
<script>
    window.onload=function(){ with (new XMLHttpRequest()) {
      onreadystatechange=cb; open('GET','../data/BlackGEM_History.csv',true); responseType='text';send();
    }}
    function cb(){if(this.readyState===4)document.getElementById('main')
                                                 .innerHTML=tbl(this.responseText); }
    function tbl(csv){ // do whatever is necessary to create your table here ...
        return csv.split('\n')
               .map(function(tr,i){return '<tr><td> '
                                         +tr.replace(/\t/g,'</td><td>')
                                         +'</td></tr>';})
               .join('\n'); }
    // var tableBody = document.getElementById("tableBody");


<!-- </script>
</head>
<body>
<h2>BlackGEM History:</h2>
<table id="main">
    <thead>
        <tr>
            <th>Date</th>
            <th>MJD</th>
            <th>Observed</th>
            <th>Number Of Sources</th>
            <th>Number in Gaia</th>
            <th>Number Of Images</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
</body> -->

<!-- <br>
<hr>
<hr>
<hr>
<br>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>MJD</th>
            <th>Observed</th>
            <th>Number Of Sources</th>
            <th>Number Of Images</th>
        </tr>
    </thead>
    <tbody>
        {% for datum in main %}
        <tr>
            <td>{{ datum.timestamp }}</td>
            <td>
                <!-- prepend greater-than sign if this is a magnitude limit -->
                <!-- {% if datum.limit %}>{% endif %}
                {{ datum.magnitude}}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No recent photometry.</td>
        </tr>
        {% endfor %}
    </tbody>
</table> -->


<!-- --------------------------- -->
{% endblock %}
