{% extends 'tom_common/base.html' %}
{% block title %}🔴 Live Feed{% endblock %}
{% block content %}
<!-- --------------------------- -->

<head>
<meta charset="utf-8" />   <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" style="padding:0px"/>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/styles/ag-grid.css">
<link rel="stylesheet" href="https://unpkg.com/@ag-grid-community/styles/ag-theme-balham.css">
<main style="padding:0px">

<script>
    function refreshContent() {
        fetch("{% url 'update_latest_BlackGEM_Field' %}")
            .then(response => response.json())
            .then(data => {
                document.getElementById('refreshable-element').innerHTML = data.time;
            })
            .catch(error => console.error('Error:', error));


        fetch("{% url 'update_time_in_la_silla' %}")
            .then(response => response.json())
            .then(data => {
                document.getElementById('refreshable-lasilla').innerHTML = data.time;
            })
            .catch(error => console.error('Error:', error));


    }

    // Call the refreshContent function every 5 seconds (5000 milliseconds)
    setInterval(refreshContent, 5000);
</script>

</head>

<div align="center">

<h5><em>Live Status</em></h5>

<div id="refreshable-element">

    <h4 style="color:{{BlackGEM_colour}};">{{ BlackGEM_message }}</h4>
<!-- Most recent field was observed {{ BlackGEM_minutes }} minute{{ BlackGEM_minplur }}, {{ BlackGEM_seconds }} second{{ BlackGEM_secplur }} ago<br>
<font style="color:grey"><em>Latest Field: &nbsp&nbsp ID: {{BlackGEM_fieldid}} &nbsp&nbsp RA: {{ BlackGEM_RA }} &nbsp&nbsp Dec: {{ BlackGEM_Dec }}</font></em> -->
<!-- <b>NOTE:</b> Right now, there is no connection to BlackGEM, just a random number generator for each transient! -->


<!-- Get the time and details of the latest frame to be observed, and update automatically. -->
The most recent field was observed {{ BlackGEM_minutes }} minute{{ BlackGEM_minplur }}, {{ BlackGEM_seconds }} second{{ BlackGEM_secplur }} ago<br>
<font style="color:grey"><em>Latest Field: &nbsp&nbsp ID: {{BlackGEM_fieldid}} &nbsp&nbsp RA: {{ BlackGEM_RA }} &nbsp&nbsp Dec: {{ BlackGEM_Dec }}</em></font>
</div>

    <div class="row row-no-gutters" style="outline: 1px solid lightgrey; padding:20px; margin-top:1em;">
        <div class="col-md-6" style="">
            <div id="refreshable-lasilla" style="">
                <br>Loading...<br><br>
            </div>
        </div>
        <div class="col-md-6" style="margin-top:1em;">
            <a href="https://abot-ui-meerlicht.azurewebsites.net/#/observatory/ml4/dashboard" class="btn btn-outline-danger" role="button" style="font-size:1.2em">● Webcams</a>
        </div>
    </div>
</div>

<br>




<hr>

<p>
<!-- On this page, you can find a live feed of several sources (eventually) -->
Below, you can enter the BlackGEM ID of a source to see a live feed of it. Plots are updated every 5 seconds.<br>
</p>

</div>

{% load plotly_dash %}
<style>
    .mini-dash-container {
        width: 100%;
        height: 400px;
        justify-content: center;
        align-items: center;
    }
</style>





<div class="row row-no-gutters" style="margin:-20px">
    <div class="col-md-6" style="padding:0px">
        <div class="mini-dash-container">
            {% plotly_app name="Live_Observation_1" ratio=0.73 %}
        </div>
    </div>
    <div class="col-md-6" style="padding:0px">
        <div class="mini-dash-container">
            {% plotly_app name="Live_Observation_2" ratio=0.73 %}
        </div>
    </div>
</div>
<div class="row row-no-gutters" style="margin:-20px">
    <div class="col-md-6" style="padding:0px">
        <div class="mini-dash-container">
            {% plotly_app name="Live_Observation_3" ratio=0.73 %}
        </div>
    </div>
    <div class="col-md-6" style="padding:0px">
        <div class="mini-dash-container">
            {% plotly_app name="Live_Observation_4" ratio=0.73 %}
        </div>
    </div>
</div>


<hr>

<div align="center">

<h5>Search for a specific BlackGEM ID:</h5>

<form method="get" action="{% url 'search_BGEM_ID_for_live_feed' %}">
    <label for="user_input">Input ID (e.g. 1516282):</label><br>
    <input type="text" name="user_input" placeholder="Enter text" required>
    <button type="submit" class="btn btn-primary">Query BlackGEM</button>
</form>

</div>

<br>
<br>







<!-- --------------------------- -->
{% endblock %}
