{% extends 'tom_common/base.html' %}
{% block content %}
<!-- {%load plotly_dash%} -->
<!-- <p>
This is GEMTOM, a TOM for the BlackGEM system.
Currently there's not much here! But please, enjoy a list of targets
we've inputted into the system, because a tutorial told me to.
</p>
<hr>
<p>
<strong>Testing ground:</strong>
</p> -->

{{ ToOs }}


<h5>Submit new target:</h5>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observation Form</title>
</head>
<form method="get" action="{% url 'Observations' %}">
    <input type="hidden" name="submitter" value="{{ user.first_name }} {{ user.last_name }}">
    <input type="hidden" name="gemtom_id" value="0">
    <div class="row">
        <div class="col-md-1">
            <div style="margin-left:10px; line-height:2.4">
                Name:
                RA (°):
                Date:
                Block:
                Notes:
            </div>
            <!-- <div style="padding-left:15px; padding-top:15px">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div> -->
        </div>
        <div class="col-md-9">
            <div style="margin:0px">
                <input type="Text" name="name" style="margin:3px" required> <br>
                <input type="Text" name="ra" style="margin:3px" placeholder="123.45" required> &nbsp
                Dec (°): <input type="Text" name="dec" placeholder="-67.89" required> &nbsp <br>
                <input type="date" name="night" style="margin:3px" required> &nbsp
                <label for="priority">Priority:</label>
                <select id="priority" name="priority">
                  <option value="Low">Low</option>
                  <option value="Med">Med</option>
                  <option value="High">High</option>
                </select> <br>
                <!-- <label for="observation">Observation Block:</label> -->
                <select id="observation" name="observation" style="margin-top:10px; margin-bottom:10px;">
                  <option value="0">(None)</option>
                  {% for num, telescopes, date_start, date_close, PI in Observations %}
                  <option value="{{num}}">{{date_start}} - {{date_close}} -- {{telescopes}} (PI: {{PI}})</option>
                  {% endfor %}
                </select>
                <input type="text" name="notes" style="margin:3px" placeholder="Goals, requirements, and other info" size="82" required> &nbsp
            </div>
        </div>
        <div class="col-md-2" style="padding-left:15px; padding-top:15px">
            <br>
            <br>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

<!-- <form method="get" action="{% url 'Observations' %}">
    <div class="row">
        <div class="col-md-10">
            <div style="padding:5px">
                <input type="hidden" name="submitter" value="{{ user.first_name }} {{ user.last_name }}">
                Name: &nbsp; &nbsp; &nbsp; <input type="Text" name="name" required> &nbsp
                Date: <input type="date" name="night" required> &nbsp
                <label for="priority">Priority:</label>
                <select id="priority" name="priority">
                  <option value="Low">Low</option>
                  <option value="Med">Med</option>
                  <option value="High">High</option>
                </select>
                <br>
                RA (deg): <input type="number" name="ra" placeholder="123.45" required> &nbsp
                Dec (deg): <input type="number" name="dec" placeholder="-67.89" required> &nbsp
                <br>
            </div>
            <div style="padding:5px">
                Notes: <input type="text" name="notes" placeholder="Goals, requirements, and other info" size="82" required> &nbsp<br>
            </div>
        </div>
        <div class="col-md-2" style="padding:25px">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form> -->

{% for this_message in message %}
    <span style="color: red;">{{ this_message }}<br></span>
{% endfor %}
<!-- <br> -->



<hr>

<h5>Submitted Targets:</h5>

<div class="row">
    <div class="col-md-10" style="margin-top:8px">
        <form method="GET">
            <label for="show_night">Show Night:</label>
            <select name="show_night" id="show_night" onchange="this.form.submit()">
                <!-- <option value=""></option> -->
                {% for night in nights %}
                    <option value="{{ night }}" {% if request.GET.show_night == night|stringformat:"s" %}selected{% endif %}>
                        {{ night }}
                    </option>
                {% endfor %}
            </select>

            &nbsp

            <label for="show_block">Show Observation Block:</label>
            <select name="show_block" id="show_block" onchange="this.form.submit()">
                <!-- <option value=""></option> -->
                <option value="All" {% if request.GET.show_block == "All" %}selected{% endif %}>All</option>
                {% for num, telescopes, date_start, date_close, PI in Observations %}
                    {{ num }}
                    <option value="{{num}}" {% if request.GET.show_block == num|stringformat:"s" %}selected{% endif %}>{{date_start}} - {{date_close}} -- {{telescopes}} (PI: {{PI}})</option>
                {% endfor %}
            </select>
        </form>
    </div>
    <div class="col-md-2">

        <form method="GET" style="margin-bottom:10px">
            {% csrf_token %}
            <input type="hidden" name="Night" value="All">
            <input type="hidden" name="block_num" value="All">
            <button type="submit" name="observed_new" value="False" style="margin:0px" title="Show All" class="btn btn-outline-info">Show All</button>

        </form>
    </div>
</div>

<!-- I would really like to see this source because I have been very good and I deserve a lot of data. Also, there is a need to test this form that requires a lot of text, and I could go get some lorem ipsum but really you need to understand that that's kinda difficult and really I just want to have some fun by typing a lot so let's just do some example text liek this. Numbers are things like 16, 38, and 27.2. Hopefully this can be done by 26/02/06. Which will be a big effort, but I think with some focused R&D, we can crack this whole time travel thing. Unless I mean 2106, in which case, yeah. Anyway. Let's see how this works. -->


<div class="table_container" style="text-align:center; vertical-align: middle; font-size: 15px;">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>RA<br>Dec</th>
                <th>Notes</th>
                <th style="width:110px">Night</th>
                <th>Telescope</th>
                <th>Priority</th>
                <th>Submitter</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for id, Name, Num, RA, Dec, Notes, Night, Priority, Telescope, Location, Submitter, Observed, GEMTOM_ID, AltitudeGraph in df%}
                {% if Observed %}
                    <tr style="color: #D5D5D5;">
                {% else %}
                    <tr style="color: black;">
                {% endif %}
                        {% if id %}
                            <td style="vertical-align: middle;"><a href="/transients/{{ id }}">{{ Name }}</a> </td>
                        {% else %}
                            <td style="vertical-align: middle;">{{ Name }}</td>
                        {% endif %}
                        <td style="vertical-align: middle;">{{ RA }}<br>{{ Dec }}</td>
                        <td style="vertical-align: middle; text-align:left;">{{ Notes }}</td>
                        <td style="vertical-align: middle;">{{ Night }}</td>
                        <td style="vertical-align: middle;">{{ Telescope }}</td>
                        <td style="padding-left:0px; padding-right:0px; vertical-align: middle;">{{ Priority }}</td>
                        <td style="vertical-align: middle;">{{ Submitter }}</td>
                        <!-- <td><a href="/{{ AltitudeGraph }}">Altitude</a></td> -->
                        <td class="description"  style="padding: 5px; padding-right: 4px; vertical-align: middle;">

                            {% if AltitudeGraph %}
                                <a href="/{{ AltitudeGraph }}"   style="margin:2px; width:95px" title="See Altitude Plot (from NOT)" class="btn  btn-outline-primary">Altitude</a>
                            {% else %}
                                <!-- <a style="margin:2px; width:95px" title="No Altitude Plot" class="btn  btn-outline-light" disabled>Altitude</a> -->
                                <a class="btn btn-outline-secondary" href=https://astro.ing.iac.es/staralt/ target="_blank">STARALT</a>
                            {% endif %}

                            {% if GEMTOM_ID %}
                                <a href="/targets/{{ GEMTOM_ID }}"   style="margin:2px; width:95px" title="Go to Target page"  class="btn  btn-outline-primary">Target</a>
                            {% else %}
                                {% if id %}
                                    <a href="/transients/{{ id }}"   style="margin:2px; width:95px" title="Go to Transient page" class="btn  btn-outline-primary">GEMTOM</a>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td style="padding: 5px; padding-left: 0px; padding-right: 5px; vertical-align: middle;">
                            <form method="post" action="{% url 'set_observed' %}" class="image-form">
                                {% csrf_token %}
                                <input type="hidden" name="Num" value="{{ Num }}">
                                <input type="hidden" name="Night" value="{{ show_night }}">
                                <input type="hidden" name="block_num" value="{{ show_block }}">
                                {% if Observed %}
                                    <button type="submit" name="observed_new" value="False" style="margin:0px" title="Mark as Unobserved" class="btn btn-outline-light">✓</button>
                                    <!-- <button type="submit" name="observed_new" value="False" style="margin:2px" class="btn btn-outline-primary">Mark As Unobserved</button> -->
                                {% else %}
                                    <button type="submit" name="observed_new" value="True" style="margin:0px" title="Mark as Observed" class="btn btn-outline-success">✓</button>
                                    <!-- <button type="submit" name="observed_new" value="True" style="margin:2px" class="btn btn-primary">Mark As Observed</button> -->
                                {% endif %}

                            </form>
                        </td>


                        <td class="description"  style="padding: 5px; padding-left: 0px; vertical-align: middle;">
                            <form method="post" action="{% url 'delete_observation' %}" class="image-form">
                                {% csrf_token %}
                                <input type="hidden" name="Num" value="{{ Num }}">
                                <input type="hidden" name="Night" value="{{ show_night }}">
                                <input type="hidden" name="block_num" value="{{ show_block }}">
                                <button type="submit" style="margin-top:0px" class="btn btn-outline-danger" title="Delete Entry" onclick="return confirm('Deleting {{ Name }}; Are you sure?')">✗</button>
                            </form>
                        </td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</html>



<!-- <form method="get" id="form1">
<label for="num1"></label>
<input type="number" id="num1" name="num1">
<label for="num2">x</label>
<input type="number" id="num2" name="num2">
</form>

<button onclick="multiply_nums()">Multiply</button>

<script>
function multiply_nums() {
    var num1 = document.getElementById("num1").value;
    var num2 = document.getElementById("num2").value;
    result = num1 * num2;
    var pointsArea = document.getElementById("pointdisplay");
    pointsArea.innerHTML = "You have " + result + " points!";
}
</script>
<p id="pointdisplay"></p> -->

<!-- <hr>

<hr>
<head> -->
<!-- <meta charset="utf-8" />   <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <h1>Here's a Plotly graph!</h1>
  <p>And here's some text after the graph.</p>
</body>

<hr>

<h3>Click here to test BlackGEM's current status.</h3>
<form accept-charset="UTF-8" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="check_status">Check Status</button>
</form>

<hr> -->


 <!-- name="run_script" to open new tab -->
<!-- <form accept-charset="UTF-8" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="num1">RA:  </label>
    <input type="number" id="num1" name="num1">
    <br>

    <label for="num2">Dec: </label>
    <input type="number" id="num2" name="num2">
    </form>

    <div class="form-group mt-3">
        <label class="mr-2"> <h6> Upload a BlackGEM file here: </h6> </label>
        <input type="file" name="file">
    </div>
    <button type="submit" class="btn btn-primary" name="run_script">Upload</button>
</form> -->

<!-- <form action="output/" method="post">
    {% csrf_token %}
    <label for="num1">RA:  </label>
    <input type="number" id="num1" name="num1">
    <br>

    <label for="num2">Dec: </label>
    <input type="number" id="num2" name="num2">
    <button type="submit" class="btn btn-primary" name="run_script">Run Stuff</button>
</form> -->

<!-- <p>Enter RA/Dec here to get a ZTF lightcurve.
Try:<br>
RA   = 306.0125<br>
Dec  = 33.8672</p>

<form accept-charset="UTF-8" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="num1">RA:  </label>
    <input type="float" id="num1" name="num1">
    <br>

    <label for="num2">Dec: </label>
    <input type="float" id="num2" name="num2">
    <button type="submit" class="btn btn-primary" name="process_targets">Upload</button>
</form>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Observation</button>
</form>

<hr> -->



<!-- <hr>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary" name="run_script">Run script</button>
</form>

<hr> -->




<!-- <<!DOCTYPE html>
<html> -->

<!-- <body>
    <div class="col-md-6 offset-md-3 mt-5">
         <form accept-charset="UTF-8" method="POST" enctype="multipart/form-data" target="_blank">
            {% csrf_token %}
            <div class="form-group">
             <label for="exampleInputName">Full Name</label>
             <input type="text" name="fullname" class="form-control" id="exampleInputName" placeholder="Enter your name and surname" required="required">
           </div>
           <div class="form-group">
             <label for="exampleInputEmail1" required="required">Email address</label>
             <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
           </div>
           <div class="form-group">
             <label for="exampleFormControlSelect1">Favourite Platform</label>
             <select class="form-control" id="exampleFormControlSelect1" name="platform" required="required">
               <option>CSV</option>
               <option>TSV</option>
             </select>
           </div>
           <hr>
           <div class="form-group mt-3">
             <label class="mr-2"> <h6> Upload the file which you want to get translated: </h6> </label>
             <input type="file" name="file">
           </div>
           <hr>
           <button type="submit" class="btn btn-primary">Translate</button>
         </form>
     </div>
</body> -->
<!-- </html> -->

<!-- <hr>
<ul>
  {% for target in targets %}
  <li>{{ target.name }}</li>
  {% endfor %}
</ul>
{% endblock %} -->
