{% extends 'tom_common/base.html' %}
{% block title %}Shhhh, Secret...{% endblock %}
{% block content %}
<!-- --------------------------- -->

<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
        .left-btn { float: left; }
        .right-btn { float: right; }
    </style>

<meta charset="utf-8" />   <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Use the ID of the plot
        var scatterPlot = document.getElementById('scatter-plot').querySelector('.js-plotly-plot');

        // Attach the click event listener to the plotly object itself
        scatterPlot.on('plotly_click', function(data){
            // Get the URL stored in the 'text' attribute of the clicked point
            var url = data.points[0].text;

            // Log the URL to ensure it's being captured correctly
            console.log("Clicked URL:", url);

            // Redirect to the URL
            if (url) {
                window.open(url, '_blank');
            }
        });
    });
</script>

<hr>


 <!-- /* Create containers for the small images, then the lightcurves. */ -->
<style>
    .image-container {
        width: 200px; /* Desired width */
        height: 200px; /* Desired height */
        overflow: hidden;
    }
    .image-container img {
        width: 105%;
        height: 107%;
        object-fit: cover; /* Ensures the image covers the container */
        object-position: center; /* Centers the image */
    }
    .image-row {
        display: flex;
        flex-wrap: wrap; /* Allows wrapping to the next line if there are too many images for one row */
        justify-content: center; /* Center the flex items horizontally */
    }
   .imgbox2 {
       <!-- position: relative; -->
        position: absolute;
        display: grid;
        top: 0;
        width: 100%;
        height: 100%;
        object-position: 100%;
   }
   td.description {
      vertical-align: middle;
    }
</style>



<p>
</p>

<!-- On this page, you can find the data for a specific observation date. -->

<div style="text-align:center;">
<h1>oooooh super secret orphan page</h1>
(If anyone does find this other than me, this is just a quick page I made for going through some of my own work,<br>since it helped my workflow to have a UI for it. Please ignore.)
</div>

<br>

<div class="table_container" style="text-align:center;">
    BlackGEM found {{ orphans_sources_length }} orphaned transient{{ orphans_sources_plural }} this month.<br><br>
    <table class="table">
        <thead>
            <th width="100px">BGEM ID</th>
            <th>RA<br>Dec</th>
            <!-- <th>RA/Dec St.Dev</th> -->
            <th>qmag<br>
            (R/B)</th>
            <!-- <th>R/B</th> -->
            <th>umag<br>
            (R/B)</th>
            <th>imag<br>
            (R/B)</th>
            <!-- <th>Sep</th> -->
            <!-- <th style="border-left:thin solid #dddddd">Max σ<br> -->
                <!-- (arcsec)</th> -->
            <!-- <th><br> -->
                <!-- (Frac.)</th> -->
            <!-- <th style="border-right:thin solid #dddddd"><br>
                (Angle)</th> -->
            <th style="border-left:thin solid #dddddd">
                Real/Bogus<br>
                <em>Asteroid</em><br>
                <em>Diff. Spike</em></th>
            <th style="border-left:thin solid #dddddd">Real?</th>
            <th>Notes</th>
            <th></th>
        </thead>
        <tbody>
            {% if orphans %}
                {% for bgem_id, ra, dec, q_min, q_rb_avg, u_min, u_rb_avg, i_min, i_rb_avg, std_max, std_min, std_frc, std_ang, det_sep, real_bogus_probabilities, asteroid_probabilities, diff_spike_probabilities, real_bogus_color, asteroid_color, diff_spike_color, yes_no, notes in orphans %}
                        {% if yes_no == "No" %}
                            <tr style="color: #D5D5D5;">
                        {% elif yes_no == "Yes" %}
                            <tr style="color: green;">
                        {% else %}
                            <tr style="color: {{ real_bogus_color }};">
                        {% endif %}
                        <td class="description"><a href="/transients/{{ bgem_id }}">{{ bgem_id }}</a> </td>
                        <td class="description">{{ ra }}<br>{{ dec }}</td>
                        <!-- <td class="description">{{ ra_std }} {{ dec_std }}</td> -->
                        <!-- <td class="description">{{ dec }}</td> -->
                        {% if q_min %}
                            <td class="description">{{ q_min }}<br>({{ q_rb_avg }})</td>
                        {% else %}
                            <td class="description"></td>
                        {% endif %}

                        {% if u_min %}
                            <td class="description">{{ u_min }}<br>({{ u_rb_avg }})</td>
                        {% else %}
                            <td class="description"></td>
                        {% endif %}

                        {% if i_min %}
                            <td class="description">{{ i_min }}<br>({{ i_rb_avg }})</td>
                        {% else %}
                            <td class="description"></td>
                        {% endif %}

                        <!-- <td class="description">{{ std_max }}</td> -->
                        <!-- <td class="description">{{ std_frc }}</td> -->
                        <!-- <td class="description">{{ std_ang }}</td> -->
                        <td class="description">

                            {% if yes_no == "No" %}
                                <a style="color: #D5D5D5;">
                            {% elif yes_no == "Yes" %}
                                <a style="color: green;">
                            {% else %}
                                <a style="color: #{{ real_bogus_color }}">
                            {% endif %}
                            {{ real_bogus_probabilities }}</a><br>

                            {% if yes_no == "No" %}
                                <a style="color: #D5D5D5;">
                            {% elif yes_no == "Yes" %}
                                <a style="color: green;">
                            {% else %}
                                <a style="color: #{{ asteroid_color }}">
                            {% endif %}
                            <em>{{ asteroid_probabilities }}</em><br>

                            {% if yes_no == "No" %}
                                <a style="color: #D5D5D5;">
                            {% elif yes_no == "Yes" %}
                                <a style="color: green;">
                            {% else %}
                                <a style="color: #{{ diff_spike_color }}">
                            {% endif %}
                            <em>{{ diff_spike_probabilities }}</em></td>
                        <td class="description">{{ yes_no }}</td>
                        <td class="description">{{ notes }}</td>
                        <td class="description">
                            <form method="post" action="{% url 'secret_rate_target' %}" class="image-form">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ bgem_id }}">
                                <!-- <input type="hidden" name="yes_no" value="Real"> -->
                                <input type="text" name="notes" placeholder="Notes">
                                <br>
                                <button type="submit" name="yes_no" value="Yes" class="btn btn-outline-primary">Real</button>
                                <button type="submit" name="yes_no" value="No" class="btn btn-outline-primary">Bogus</button>
                            </form>
                        </td>
                        <!-- <td>
                            <form method="get" action="{% url 'search_BGEM_ID' %}">
                                <label for="user_input">Input ID (e.g. 1516282):</label><br>
                                <input type="text" name="user_input" placeholder="Enter text" required>
                                <button type="submit" class="btn btn-primary">Query BlackGEM</button>
                            </form>
                        </td> -->
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

<hr>


<br>




<!-- --------------------------- -->
{% endblock %}
