{% extends 'tom_common/base.html' %}
{% block content %}
<!-- --------------------------- -->

<head>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .imgbox {
            display: grid;
            height: 100%;
        }
        .center-fit {
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
        .left-btn { float: left; }
        .right-btn { float: right; }
    </style>

<meta charset="utf-8" />   <!--It is necessary to use the UTF-8 encoding with plotly graphics to get e.g. negative signs to render correctly -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<p>
</p>

<!-- On this page, you can find the data for a specific observation date. -->

<div style="text-align:center;">
    <div class="left-btn">
        <a href="/history/{{ prev_night }}" class="btn btn-outline-primary" role="button" style="font-size:1.2em">&larr; Prev</a>
    </div>
    <div class="right-btn">
        <a href="/history/{{ next_night }}" class="btn btn-outline-primary" role="button" style="font-size:1.2em">Next &rarr;</a>
    </div>
</div>

<div style="text-align:center">
<!-- <hr> -->

<h4>Did BlackGEM observe on {{ extended_date }}?<br></h4>
<h3>{{ observed }} </h3>

On {{ extended_date }} (MJD {{ mjd }}), BlackGEM observed {{ num_fields }} fields.<br>
{{ data_length }} transient{{ data_length_plural}} were found, which ha{{ data_length_plural_2 }} {{ num_in_gaia }} crossmatch{{ gaia_plural }} in Gaia (radius 1 arcsec). <br>
BlackGEM recorded pictures of {{ extragalactic_sources_length }} possible extragalactic transient{{ extragalactic_sources_plural }}. <br><br>

<!-- On {{ extended_date }} (MJD {{ mjd }}), BlackGEM observed {{ data_length }} transient{{ data_length_plural}}, which ha{{ data_length_plural_2 }} {{ num_in_gaia }} crossmatch{{ gaia_plural }} in Gaia (radius 1 arcsec). <br>
BlackGEM recorded pictures of {{ extragalactic_sources_length }} possible extragalactic transient{{ extragalactic_sources_plural }}. <br><br> -->
<!-- {% for source in extragalactic_sources_id %}
    {{ source }},
{% endfor %} -->

<div class="imgbox">
    <img class="center-fit" src="data:image/png;base64,{{ plot_image }}" alt="Last Night's Sky Plot">
</div>

<br>
BlackGEM observed {{ num_fields }} fields:<br>
<em>
<font style="color:green;">{{ green_fields }} Green</font>&nbsp&nbsp&nbsp
<font style="color:#bfac00;">{{ yellow_fields }} Yellow</font>&nbsp&nbsp&nbsp
<font style="color:orange;">{{ orange_fields }} Orange</font>&nbsp&nbsp&nbsp
<font style="color:red;">{{ red_fields }} Red</font></em>

<hr>
<h5>Files:</h5>

{% if transients_filename %}
    <a href= {{ transients_filename }}>Transients File</a> <br>
{% else %}
    <em>No Transients file to download</em> <br>
{% endif %}

{% if gaia_filename %}
    <a href= {{ gaia_filename }}>Gaia Crossmatched File</a> <br>
{% else %}
    <em>No Gaia Crossmatched file to download</em> <br>
{% endif %}

{% if extragalactic_filename %}
    <a href= {{ extragalactic_filename }}>Extragalactic Transients File</a> <br>
{% else %}
    <em>No Extragalactic file to download</em>
{% endif %}


<hr>

<h5>Gaia-Crossmatched Transients:</h5>
<p>Below, you can find all gaia cross-matches of last night's transients (red), with potential Cataclysmic Variables highlighted (orange).<br>
They are overplotted on an HR diagram (blue), sourced from the Gaia Catalog of Nearby Stars.<br>
<em><font style="color:grey;">Only sources with a Real/Bogus score above 0.8 and a Parallax:Error ratio of greater than 2 are included.</font></em><br>
<b>Click on a point to go to its GEMTOM page!</b></p>
<!-- {{ lightcurve|safe }} -->


<!-- This will render the plotly chart -->


<!-- <div id="scatter-plot" style="
    display: block;
    position: absolute;
    margin: auto;
    padding:0px;
    text-align:center;
    max-width:800px;
    display: block;
    left:-0px;
    right:-0px;
    bottom:-860px;
">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
-->
<div id="scatter-plot" style="
    display: block;
    position: relative;
    margin: auto;
    padding:0px;
    text-align:center;
    max-width:800px;
    display: block;
    left:-0px;
    right:300px;
    bottom:-0px;

">
    {{ lightcurve|safe }}
</div>
<br>
<!-- Button to trigger the CSV generation -->
<form method="post" action="{% url 'download_possible_CVs' %}" class="image-form">
    {% csrf_token %}
    <input type="hidden" name="obs_date" value="{{ obs_date }}">
    <button type="submit" class="btn btn-outline-primary">Download Possible CVs</button>
</form>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Use the ID of the plot
        var scatterPlot = document.getElementById('scatter-plot').querySelector('.js-plotly-plot');

        // Attach the click event listener to the plotly object itself
        scatterPlot.on('plotly_click', function(data){
            // Get the URL stored in the 'text' attribute of the clicked point
            var url = data.points[0].text;

            // Log the URL to ensure it's being captured correctly
            console.log("Clicked URL:", url);

            // Redirect to the URL
            if (url) {
                window.open(url, '_blank');
            }
        });
    });
</script>

<hr>

<h5>Images:</h5>

 <!-- /* Create containers for the small images, then the lightcurves. */ -->
<style>
    .image-container {
        width: 200px; /* Desired width */
        height: 200px; /* Desired height */
        overflow: hidden;
    }
    .image-container img {
        width: 105%;
        height: 107%;
        object-fit: cover; /* Ensures the image covers the container */
        object-position: center; /* Centers the image */
    }
    .image-row {
        display: flex;
        flex-wrap: wrap; /* Allows wrapping to the next line if there are too many images for one row */
        justify-content: center; /* Center the flex items horizontally */
    }
   .imgbox2 {
       <!-- position: relative; -->
        position: absolute;
        display: grid;
        top: 0;
        width: 100%;
        height: 100%;
        object-position: 100%;
   }
</style>

{% if extragalactic_sources_id %}
    {% for image_url, bgem_id, source_ra, source_dec, check in images_daily_text_1 %}
        <h6> BlackGEM ID = {{ bgem_id }}</h6>
        <div class="image-row">
            {% for url in image_url %}
                {% if url %}
                    {% if old_images %}
                        <div class="image-container">
                            <img src="{{ url }}" alt="url"></img>
                        </div>
                    {% else %}
                        <img class="imgbox2" src="{{ url }}" alt="url">
                    {% endif %}

                {% endif %}
            {% endfor %}
        </div>
        RA = {{source_ra}}  ;  Dec = {{source_dec}}<br>
        <em><a href='/transients/{{ bgem_id }}'>GEMTOM page for this transient</a></em><br>
        <div style="height:3px;font-size:1px;">&nbsp;</div>
        {% if check %}
            <div class="row">
              <div class="col-md-4" style="
                padding:5px;
                border-right:thin solid #dddddd;
                text-align:center;
                vertical-align: middle;">
                    <a class="btn btn-outline-primary" href="https://staging.apps.blackgem.org/transients/blackview/show_runcat?runcatid={{bgem_id}}" target="_blank">BlackView</a>
              </div>
              <div class="col-md-4" style="
                padding:5px;
                border-right:thin solid #dddddd;
                text-align:center;
                vertical-align: middle;">
                <form method="post" action="{% url 'history_to_GEMTOM' %}" class="image-form">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ bgem_id }}">
                    <input type="hidden" name="name" value="{{ bgem_id }}">
                    <input type="hidden" name="ra" value="{{ source_ra }}">
                    <input type="hidden" name="dec" value="{{ source_dec }}">
                    <button type="submit" class="btn btn-primary">Add to GEMTOM</button>
                </form>
              </div>
              <div class="col-md-4" style="
                padding:5px;
                text-align:center;
                vertical-align: middle;">
                    <a class="btn btn-outline-primary" href="https://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{ source_ra }}d{{ source_dec }}d&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&CooDefinedFrames=none&Radius=1&Radius.unit=arcmin&submit=submit+query&CoordList=" target="_blank">SIMBAD</a>
                    <!-- <a href="#" onclick='window.open("https://simbad.u-strasbg.fr/simbad/sim-coo?Coord={{ target_ra }}d{{ target_dec }}d&CooFrame=FK5&CooEpoch=2000&CooEqui=2000&CooDefinedFrames=none&Radius=2&Radius.unit=arcmin&submit=submit+query&CoordList=");return false;'>SIMBAD page</a> -->
              </div>
            </div>
        {% endif %}
        <hr>
    {% endfor %}
{% else %}
    <p> No images to display.</p>
    <br>
    <hr>
{% endif %}


<br>




<!-- --------------------------- -->
{% endblock %}
